body {
    background-color: turquoise;
}

@media (max-width: 900px) {
    .container {
        grid-template-areas: 
        "header";
    }
}

@font-face {
    font-family: "Aztec Regular";
    src: url(/assets/fonts/Aztec-Regular/Aztec-Regular.ttf);
}

h1 {
    color: red; 
    font-size: 70px;
    text-align: center;
    font-family: "Aztec Regular";

}
img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    flex-wrap: wrap;
}
h1 {
    color: red;
    background-color: chartreuse;
    font-size: 50px;
    border: 5px solid red;
    text-align: center;
    font-family: "Aztec Regular";
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: pink;
    width: 700px;
    height: 1200px;
    margin: 10px;
    border-radius: 15px;
}
.card-image {
    width: 500px;
    height: 700px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    object-position: center;
    align-self: center;
}
.bottle-1 {
    background-image: url("images/Aztec_Axolotl_Hab_Sauce_Beach.jpg")
}
.bottle-2 {
    background-image: url("images/Aztec_Axolotl_Sauce_Beach_3.jpg") 
}
.bottle-3 {
    background-image: url("images/Aztec_Axolotl_Sauce_Beach_2.jpg")
}
h2 {
 color: red;
    font-size: 50px;
    border: 5px solid red;
    text-align: center;
    font-family: "Aztec Regular";   
}
.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
    margin-bottom: 35px;
    font-size: 25px;
    text-wrap: wrap;
    text-align: center;
    font-family: "Aztec Regular";
    font-size: 50 px;

}
.card a {
    font-family: "Aztec Regular";
    padding: 25px 30px;
    display: block;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
button {
    display: block;
    margin: 0 auto;
    background-color: aquamarine;
    color: yellow;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;
    font-size: 30px;
    font-family: "Aztec Regular;"
}
button:hover {
    background-color: yellow;
    transition: .3s ease all;
    transform: translateY(-5px);
}

.footer-container {
    background-color: chartreuse;
    padding-bottom: 4rem;
}

.footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 4rem;
    background-color: pink;
}

.footer-heading a {
    color: red;
    font-family: "Aztec Regular";
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.footer-heading a:hover {
    color: darkblue;
    transition: 0.3s ease-out;
}